.projects {
  position: relative;
  /* padding-left: 20vw; */
  display: grid;
  align-items: center;
  color: white;
}

.horizontal-line {
  width: 100vw;
  margin-left: 10vw;
  background: rgba(89, 24, 223, 0.2);
  height: 3px;
  position: fixed;
  top: 25vh;
  display: grid;
  align-items: center;
  z-index: 2;
}

.project-box {
  width: 90vw;
  margin-left: 10vw;
  /* border: 2px solid red; */
  height: 50vh;
  /* position: absolute; */
  top: 25vh;
  overflow-x: scroll;
  position: relative;
  display: flex;
  /* border: 2px solid red; */
}

.project-box::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.project-box::-webkit-scrollbar-track {
  background: rgba(89, 24, 223, 0.2);
}

/* Handle */
.project-box::-webkit-scrollbar-thumb {
  background: rgba(89, 24, 223, 0.9);
  opacity: 0;
  display: none;
}

/* Handle on hover */
.project-box::-webkit-scrollbar-thumb:hover {
  background: rgba(89, 24, 223, 0.9);
}

.project-list {
  min-width: 100%;
  max-width: 100%;
  border: 2px solid green;
  height: 50%;
  color: white;
}
.horizontal-circle {
  background: rgba(89, 24, 223, 0.9);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
}
