.homepage {
  height: 100vh;
  overflow: scroll;
  width: 100vw;
  /* border: 2px solid red; */
  position: relative;
  overflow-x: hidden;
}

.inside-circle-2 {
  border: 2px solid rgba(89, 24, 223, 0.9);
  animation: animate-circle 2s;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -17px;
  left: -10px;
  transition: all 2s ease-in-out;
}

@keyframes animate-circle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.side-line {
  height: 80vh;
  width: 2px;
  margin-left: 15vw;
  position: absolute;
  bottom: 0;
  position: fixed;
}

.line-1 {
  height: 50%;
  width: 100%;
  background: rgba(89, 24, 223, 0.2);
  border-radius: 5px;
  position: relative;
}

.shark {
  display: none;
}

.line-2 {
  height: 50%;
  width: 100%;
  background: rgba(89, 24, 223, 0.4);
}

.circle {
  background: rgba(89, 24, 223, 0.9);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  right: 3px;
  display: flex;
}

.corals {
  width: 400px;
  height: 350px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.slide-content {
  height: 100vh;
  /* border: 2px solid red; */
  color: white;
}

.slide-content-2 {
  height: 100vh;
}

.slide-content-3 {
  /* border: 2px solid yellow; */
  height: 100vh;
}
.fish-orange {
  width: 200px;
  height: 137px;
  position: absolute;
  bottom: 200px;
  right: 400px;
}

.fish-yellow {
  width: 137px;
  height: 97px;
  position: absolute;
  bottom: 400px;
  right: 150px;
}

.Logo-1 {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 0.1em;
  color: #808080;
  text-align: left;
}
.Logo-2 {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 0.1em;
  color: #808080;
  text-align: left;
}

.content-front {
  margin-left: 20vw;
  /* border: 2px solid red; */
  height: 80vh;
  position: absolute;
  bottom: 0;
  display: grid;
  align-items: center;
  text-align: left;
}

.desc-2 {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 55px;
  letter-spacing: 0.1em;
  color: #682ae9;
  text-align: left;
}

.desc-1 {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 55px;
  letter-spacing: 0.1em;
  color: #682ae9;
}

.Navbar {
  position: absolute;
  top: 0;
}

@media (max-width: 1300px) {
  .Logo-1 {
    font-size: 50px;
    line-height: 55px;
  }

  .Logo-2 {
    font-size: 50px;
    line-height: 55px;
  }

  .desc-1 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 15px;
  }

  .desc-2 {
    font-size: 25px;
    line-height: 30px;
  }

  .fish-orange {
    width: 100px;
    height: 70px;
    right: 350px;
  }

  .fish-yellow {
    width: 100px;
    height: 80px;
    bottom: 300px;
  }

  .corals {
    width: 300px;
    height: 250px;
  }
}

@media (max-width: 1000px) {
  .fish-orange {
    width: 100px;
    height: 70px;
    right: 250px;
  }

  .fish-yellow {
    width: 100px;
    height: 80px;
    bottom: 350px;
  }

  .corals {
    width: 300px;
    height: 250px;
  }
}

@media (max-width: 870px) {
  .fish-orange {
    bottom: 50vh;
  }

  .fish-yellow {
    bottom: 60vh;
    right: 50px;
  }

  .corals {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 610px) {
  .fish-orange {
    bottom: 10vh;
    left: 27vw;
  }

  /* 
  .shark {
    width: 300px;
    height: 100px;
    display: block;
    position: absolute;
    bottom: 60vh;
  } */
}

@media (max-width: 500px) {
  .Logo-1 {
    font-size: 40px;
    line-height: 45px;
  }

  .Logo-2 {
    font-size: 40px;
    line-height: 45px;
  }

  .desc-1 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
  }

  .desc-2 {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 480px) {
  .fish-orange {
    width: 100px;
    height: 50px;
    bottom: 100px;
    left: 20vw;
  }
}

/* slide2 */

.slide-content-2 {
  position: relative;
}

.sea-lion {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  right: 50px;
}

.allien {
  width: 300px;
  height: 350px;
  position: absolute;
  bottom: 10vh;
}

.content-what-we-do {
  height: 100vh;
  position: absolute;
  bottom: 0;
  /* border: 2px solid red; */
  margin-left: 20vw;
  display: grid;
  align-items: center;
  text-align: left;
}

.topic-heading {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #808080;
}

.topic-desc {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  width: 70%;
  /* letter-spacing: 0.1em; */
  color: #682ae9;
}

@media (max-width: 1300px) {
  .topic-desc {
    font-size: 20px;
    line-height: 35px;
  }
}

@media (max-width: 1130px) {
  .allien {
    top: 0;
    width: 200px;
    height: 250px;
  }

  .sea-lion {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 700px) {
  .topic-heading {
    font-size: 50px;
    line-height: 60px;
  }

  .topic-desc {
    width: 90%;
  }

  .sea-lion {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 420px) {
  .topic-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .topic-desc {
    font-size: 16px;
  }
}

/* slide3 */

.slide-content-3 {
  position: relative;
}

.star-fish {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: star-rotate 5s linear infinite;
  transition: all 5s;
}

@keyframes star-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 850px) {
  .star-fish {
    width: 200px;
    height: 200px;
  }
}

/* slide4 */

.slide-content-4 {
  height: 100vh;
  margin-left: 20vw;
  text-align: left;
  position: relative;
  /* border: 2px solid red; */
  display: grid;
  align-items: center;
}

.package-list {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.package-option {
  display: flex;
  margin-top: 10px;
}

.package-circle {
  border: 2px solid rgba(89, 24, 223, 0.9);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.active-package {
  /* border: 2px solid rgba(89, 24, 223, 0.9); */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  background: rgba(89, 24, 223, 0.9);
}

.package-name {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.1em;
  color: #682ae9;
}

.package-desc {
  font-family: Titillium Web;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.1em;
  width: 80%;
  color: #682ae9;
  margin-top: 20px;
}

.package-includes {
  display: flex;
  margin-top: 25px;
}

.include-list {
  margin-right: 35px;
  font-size: 25px;
  color: #808080;
}

@media (max-width: 1000px) {
  .package-name {
    font-size: 25px;
  }

  .package-desc {
    font-size: 20px;
    width: 90%;
  }

  .include-list {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .package-desc {
    width: 80%;
  }

  .package-name {
    font-size: 20px;
  }
}

@media (max-width: 610px) {
  .package-desc {
    width: 70%;
  }

  .package-name {
    font-size: 20px;
  }

  .package-desc {
    font-size: 16px;
  }
}

@media (max-width: 530px) {
  .package-desc {
    width: 70%;
  }

  .package-name {
    font-size: 18px;
  }

  .package-desc {
    font-size: 16px;
    width: 60%;
  }

  .package-list {
    margin-right: 20px;
  }
}

@media (max-width: 450px) {
  .package-desc {
    width: 70%;
  }

  .package-name {
    font-size: 16px;
  }

  .package-desc {
    font-size: 15px;
    width: 60%;
  }

  .package-list {
    margin-right: 15px;
  }

  .include-list {
    font-size: 16px;
  }
  .package-circle {
    margin-right: 10px;
  }
}

@media (max-width: 402px) {
  .package-details {
    width: 80%;
  }

  .package-name {
    font-size: 14px;
  }

  .package-desc {
    font-size: 14px;
    width: 60%;
  }

  .package-list {
    margin-right: 15px;
  }

  .package-circle {
    margin-right: 10px;
  }
}
