.logo-nav {
  width: 200px;
  height: 70px;
}

.navbar-phone {
  display: none;
  width: 100%;
  height: 70px;
}

.navbar-desktop {
  padding-left: 20px;
  padding-right: 20px;
  /* border: 2px solid red; */
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-content {
  display: flex;
  position: absolute;
  right: 10vw;
}

.navbar-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #5918df;
  margin-right: 35px;
}

.hamburger-phone-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #5918df;
  margin-right: 35px;
}

.phone-menu-content {
  /* border: 2px solid red; */
  width: 100vw;
  height: 40%;
  display: grid;
}

@media (max-width: 700px) {
  .navbar-desktop {
    display: none;
  }

  .logo-nav-phone {
    z-index: 2;
  }

  .phone-menu {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #000;
    z-index: 1;
    transition: 2s all;
    position: fixed;
    display: flex;
    align-items: center;
  }

  .hidden-menu {
    width: 0;
    height: 100vh;
    transition: 2s all;
    display: none;
  }

  .jelly {
    position: absolute;
    bottom: -10vh;
    right: 5vw;
  }

  .navbar-phone {
    display: flex;
    /* border: 2px solid red; */
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hamburger {
    width: 30px;
    height: 35px;
    /* border: 2px solid red; */
    position: absolute;
    right: 15vw;
    top: 25px;
    display: grid;
    z-index: 2;
  }

  .hamline {
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 2px;
    transition: all 2s;
  }

  .animateham:nth-child(2) {
    opacity: 0;
    transition: all 2s;
  }

  .animateham:nth-child(1) {
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 2px;
    transition: all 2s;
    transform: rotate(30deg);
  }

  .animateham:nth-child(3) {
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 2px;
    transition: all 2s;
    transform: rotate(150deg);
    position: relative;
    bottom: 7px;
  }
}

@media (max-width: 450px) {
  .hamburger {
    right: 20vw;
  }
}
